<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">
    

    <!-- Id Column -->
    <ng-container matColumnDef="season_game_no">
      <mat-header-cell *matHeaderCellDef mat-sort-header>#</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.season_game_no}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="game_date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Date</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.game_date | date:'yyyy-MM-dd'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="start_time">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Debut</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.start_time | slice:0:5}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="end_time">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Fin</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.end_time | slice:0:5}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="location_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Arena</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.location_name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="home_team_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Receveurs</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.home_team_name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="away_team_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Visiteurs</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.away_team_name}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"  (click)="selectRow(row)"></mat-row>
  </mat-table>

  <mat-paginator #paginator
    [length]="dataSource?.data?.length"
    [pageIndex]="0"
    [pageSize]="50"
    [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>