<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Neopolitan Reignite Email</title>
  <!-- Designed by https://github.com/kaytcat -->
  <!-- Robot header image designed by Freepik.com -->

  <style type="text/css">
  @import url(http://fonts.googleapis.com/css?family=Droid+Sans);

  /* Take care of image borders and formatting */

  img {
    max-width: 600px;
    outline: none;
    text-decoration: none;
    -ms-interpolation-mode: bicubic;
  }

  a {
    /*text-decoration: none;*/
    border: 0;
    outline: none;
    /*color: #bbbbbb;*/
    color: firebrick;
  }

  a img {
    border: none;
  }

  /* General styling */

  td, h1, h2, h3  {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
  }

  td {
    text-align: center;
  }

  body {
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust:none;
    width: 100%;
    height: 100%;
    color: #37302d;
    background: #ffffff;
    font-size: 14px;
    /*font-size: 2em;*/
  }

   table {
    border-collapse: collapse !important;
  }

  .headline {
    color: #ffffff;
    font-size: 36px;
  }

 .force-full-width {
  width: 100% !important;
 }


  </style>

  <style type="text/css" media="screen">
      @media screen {
         /*Thanks Outlook 2013! http://goo.gl/XLxpyl*/
        td, h1, h2, h3 {
          font-family: 'Droid Sans', 'Helvetica Neue', 'Arial', 'sans-serif' !important;
        }
      }
  </style>

  <style type="text/css" media="only screen and (max-width: 480px)">
    /* Mobile styles */
    @media only screen and (max-width: 480px) {

      table[class="w320"] {
        width: 320px !important;
      }


    }
  </style>
</head>
<body class="body" style="padding:0; margin:0; display:block; background:#ffffff; -webkit-text-size-adjust:none" bgcolor="#ffffff">
<table align="center" cellpadding="0" cellspacing="0" width="100%" height="100%" >
  <tr>
    <td align="center" valign="top" bgcolor="#ffffff"  width="100%">
      <center>
        <table style="margin: 0 auto;" cellpadding="0" cellspacing="0" width="90%" class="w320">
          <tr>
            <td align="center" valign="top">

                <table style="margin: 0 auto;" cellpadding="0" cellspacing="0" width="100%" style="margin:0 auto;">
                  <tr>
                    <td style="font-size: 30px; text-align:center;">
                        <img src="http://pciauto.com/images/logo.jpg" alt="PCI Logo">
                      <br>
                    </td>
                  </tr>
                </table>
                <br/>
                <table style="margin: 0 auto;" cellpadding="0" cellspacing="0" width="100%" bgcolor="#4dbfbf">
                  <tr>
                    <td>
                    <br>
                      <img src="https://lh3.ggpht.com/uvZxRkPkfWyjJsFVE3kngNz1PNGxSNJALAWtlX8JSQmbc8zpZKBHHmo9clPe9CoOtUhy=w300" width="225" alt="parking picture">
                    </td>
                  </tr>
                  <tr>
                    <td class="headline" style="color: #ffffff; font-size: 36px;">
                      <!--Des items sur votre feuille de temps ont été rejetés!-->
                      Passe de stationnement
                    </td>
                  </tr>
                  <tr>
                    <td>

                      <center>
                        <table style="margin: 0 auto;" cellpadding="0" cellspacing="0" width="70%">
                          <tr>
                            <td style="color:#187272; color: #ffffff; font-size: 14px;">
                            <br>
                              PCI veut savoir si vous desirez une passe de stationnement pour le mois prochain.
                            <br>
                            <br>
                            </td>
                          </tr>
                        </table>
                      </center>

                    </td>
                  </tr>
                </table>
            </td>
          </tr>
        </table>
    </center>
    </td>
  </tr>
  <tr>
    <td align="center" valign="top" bgcolor="#ffffff"  width="100%">
        <center>
            <table width="90%" class="dynamic-font" style="font-size: 0.8em; font-size: 0.8vw;">
              <thead> 
                <th>Cliquez pour demander une passe de stationnement!</th> 
              </thead> 
            <tbody> 
                <tr> 
                    <td><a href="http://192.168.222.74/employee-edit/{{employee_id}}"> Modifier</a></td> 
                </tr> 
            </tbody> 
        </table> 
        </center>
    </td>
  </tr>
</table>
</body>
</html>
