<div class="example-container">
  <form [formGroup]="options">
    <mat-checkbox formControlName="hideRequired">Hide required marker</mat-checkbox>
    <div>
      <label>Float label: </label>
      <mat-radio-group formControlName="floatLabel">
        <mat-radio-button value="auto">Auto</mat-radio-button>
        <mat-radio-button value="always">Always</mat-radio-button>
        <mat-radio-button value="never">Never</mat-radio-button>
      </mat-radio-group>
    </div>
    <br/>
    <mat-divider></mat-divider>
    <br/>
    <mat-form-field [hideRequiredMarker]="options.value.hideRequired" [floatLabel]="options.value.floatLabel">
      <input matInput formControlName="text1" placeholder="Simple placeholder" required>
    </mat-form-field>

    <mat-form-field [floatLabel]="options.value.floatLabel">
      <mat-label>Both a label and a placeholder</mat-label>
      <input matInput formControlName="text2" placeholder="Simple placeholder">
    </mat-form-field>

    <mat-form-field [hideRequiredMarker]="options.value.hideRequired" [floatLabel]="options.value.floatLabel">
      <mat-select formControlName="select1" required>
        <mat-option>-- None --</mat-option>
        <mat-option value="option">Option</mat-option>
        <mat-option value="option2">Option2</mat-option>
        <mat-option value="option3">Option3</mat-option>
      </mat-select>
      <mat-label>
        <mat-icon>favorite</mat-icon>
        <b> Fancy</b>
        <i> label</i>
      </mat-label>
    </mat-form-field>
  </form>
</div>