<div class="container" style="padding: 2rem">
  <h2>Modifier joueur</h2>

  <form [formGroup]="playerEdit" fxLayout='row wrap' fxLayoutGap="20px">
    <mat-form-field [floatLabel]="true" fxFlex="100%">
      <input matInput formControlName="playerName" placeholder="Nom du joueur" required>
    </mat-form-field>
    <mat-form-field [floatLabel]="true" fxFlex="calc(50% - 25px)">
      <input matInput formControlName="phone1" placeholder="Téléphone pricipal" required>
    </mat-form-field>
    <mat-form-field [floatLabel]="true" fxFlex="calc(50% - 25px)">
      <input matInput formControlName="phone2" placeholder="Téléphone secondaire" required>
    </mat-form-field>
    <mat-form-field [floatLabel]="true" fxFlex="100%">
      <input matInput formControlName="email" placeholder="Courriel" required>
    </mat-form-field>

    <!-- <mat-form-field [floatLabel]="true" fxFlex="calc(50% - 25px)">
      <input matInput formControlName="birthDate" placeholder="Date de naissance" required>
    </mat-form-field> -->

    <mat-form-field [floatLabel]="true" fxFlex="calc(50% - 25px)">
      <input matInput [matDatepicker]="birthDate" placeholder="Date de naissance" formControlName="birthDate">
      <mat-datepicker-toggle matSuffix [for]="birthDate"></mat-datepicker-toggle>
      <mat-datepicker #birthDate></mat-datepicker>
    </mat-form-field>

    <mat-form-field [floatLabel]="true" fxFlex="calc(50% - 25px)">
      <input matInput formControlName="memberSince" placeholder="Membre depuis" required>
    </mat-form-field>
    <mat-form-field [floatLabel]="true" fxFlex="calc(50% - 25px)">
      <mat-select formControlName="position" placeholder="Position" required>
        <mat-option>-- None --</mat-option>
        <mat-option value="option">Attaquant</mat-option>
        <mat-option value="option2">Défenseur</mat-option>
        <mat-option value="option3">Gardien</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field [floatLabel]="true" fxFlex="calc(50% - 25px)">
      <input matInput formControlName="gamesPlayed" placeholder="Parties jouées" required>
    </mat-form-field>
    <mat-form-field [floatLabel]="true" fxFlex="calc(50% - 25px)">
      <mat-select formControlName="playerStatus" placeholder="Status" required>
        <mat-option>-- None --</mat-option>
        <mat-option value="option">Regulier</mat-option>
        <mat-option value="option2">Remplacant</mat-option>
        <mat-option value="option3">Innactif</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field [floatLabel]="true" fxFlex="calc(50% - 25px)">
      <input matInput formControlName="skillPoints" placeholder="Points d'habilleté" required>
    </mat-form-field>
    <mat-form-field [floatLabel]="true" fxFlex="100%">
      <textarea matInput formControlName="notes" rows="5" placeholder="Notes" required></textarea>
    </mat-form-field>
    <div class="button-row">
      <button mat-raised-button>Basic</button>
      <button mat-raised-button color="primary">Primary</button>
      <button mat-raised-button color="accent">Accent</button>
      <button mat-raised-button color="warn">Warn</button>
      <button mat-raised-button disabled>Disabled</button>
      <a mat-raised-button routerLink=".">Link</a>
    </div>
  </form>
</div>